# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea/*
!.idea/scopes

# gradle
build
.gradle

# other
eclipse
run
runs

.idea
/neoforge/src/generated/resources/.cache/
/fabric/src/generated/resources/.cache/

.vscode
.eclipse
__pycache__/
*.pyc
/gradle/packaged-smoke.gradle

/docs
!/docs/CONTRIBUTING.md
!/docs/GUIDE.md
!/docs/RELEASE_NOTES.md
